/*
#####################################################
#                                                   #
#                       Police                      #
#                                                   #
#####################################################
*/
@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Bold.woff2') format('woff2'),
      url('fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Light.woff2') format('woff2'),
      url('fonts/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Italic.woff2') format('woff2'),
      url('fonts/Poppins-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Medium.woff2') format('woff2'),
      url('fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Regular.woff2') format('woff2'),
      url('fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Thin.woff2') format('woff2'),
      url('fonts/Poppins-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: "Poppins", "Ubuntu", sans-serif;
  background-color: #e6e1d3;
  border: 0;
  padding: 0;
  margin: 0;
}
/*
#####################################################
#                                                   #
#                       Header                      #
#                                                   #
#####################################################
*/
header {
  background-color: #03196c;
  height: 150px;
  padding: 40px 0 40px 230px;
  display: flex;
  
  
}
header img {
  flex-direction: row;
  margin: 0px 25px 0px 85px;
}
header nav {
  height: 80px;
  margin: 0;
  background-image: url("../images/Image_general/bannière.webp");
  flex-direction: row;
  justify-content: center inline-block;


}
header nav a {
  height: 50px;
  width: 300px;
  border-radius: 20px;
  border: solid 2px black;
  margin: 10px;
  color: #03196c;
  background-color: #d5c46c;
  font-size: 32px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
/*en-tête de l'accueil uniquement : */
h1 {
  font-size: 300%;
  color: #e6e1d3;
  background-color: #03196c;
  padding: 1em;
  text-align: center;
  margin: 0;
}

body > div{
  padding-bottom: 25%;
  background-image: url(../images/Img_Accueil/main_img.jpg);
  background-repeat: no-repeat;
  background-position: -10px;
  background-size: 105%;
}

/*
#####################################################
#                                                   #
#                       Body                        #
#                                                   #
#####################################################
*/
section {

  background-color: #d5c46c;
  margin: 20px;
}

section > h3{
  padding: 1em;
  background-color: #304aab;
  margin: 2em 40%;
  text-align: center;
}

section > h3 > a{
  color: #e6e1d3;
}

section div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
   
}

section div article p{
  display: none;
}

section div article:hover p{
  display: inline;
}

section div article:hover{
  transition-duration: 2s;
  width: 45em;
}

article img{
  width: 70%;
}

section div article{
  transition-duration: 2s;
  background-color: #304aab;
  width: 30em;
  height: 40em;
  padding: 1em;
  margin: 10px;
}

section div article div{
  width: 185px;
  height: 127px;
  flex-shrink: 0;
  
  border-radius: 360px;
  background: url("../images/Img_Accueil/lieu1.png") lightgray -74.14px -9.063px / 173.242% 180.628% no-repeat;

}

article, section, span > div{
  background-color: #d5c46c;
  border: solid 10px #03196c;
  border-radius: 20px;
}


body > article, section, main > article{
  margin: 2em 13em;
}


h2 {
  font-family: "Ubuntu";
  color: #03196c;
  /*bordure GAUCHE des titres*/
  border-left: #304aab solid 3px;
  border-left-width: 5px;
  width:200px;

  /*bordure BAS des titres*/
  border-bottom: #304aab solid 3px;
  border-bottom-width: 5px;

  /*bordure DROITE et HAUT des titres*/
  border-top: 0;
  border-right: 0;

  padding-left: 10px;
  padding-bottom: 10px;

  margin: 0.5em;
}



/*
#####################################################
#                                                   #
#                     SPONSORS                      #
#                                                   #
#####################################################
*/

article > div{
  display: flex;
  justify-content: space-around;
  padding: 1em;
}
article > div img{
  margin: 0.5em;
}


/*
#####################################################
#                                                   #
#           CAROUSSEL + MOMENTS FORTS               #
#                                                   #
#####################################################
*/

span{
  display: flex;
  justify-content: space-between;
  margin: 3em 13em;
  align-items: flex-start;
}
span > div{
  margin: 0;
}

span > div:nth-child(2){
  margin-left: 2em;
}


/*
#####################################################
#                                                   #
#                CAROUSSEL CSS                      #
#                                                   #
#####################################################
*/

div > div{
  display: flex;
  flex-wrap: nowrap;
  }

div > div > figure > img{
  margin: 0;
  width: 80%;
  height: 80%;
}

div > div > figure{
  margin: 0;
  margin-bottom: 5em;
  text-align: center;
}

figcaption{
  background-color: #e6e1d3;
  margin: 0 2em;
}



/*
#####################################################
#                                                   #
#              TABLEAU DES MEDAILLES                #
#                                                   #
#####################################################
*/

table, tr{
  padding: 10px;
  border: solid 20px #304aab;
  border-collapse: collapse;
  border-radius: 15px;
}

table{
  margin: 1em;
  width: 33%;
}

td{
  background-color: #e6e1d3;
  padding: 10px;
}
/*
#####################################################
#                                                   #
#                       Footer                      #
#                                                   #
#####################################################
*/




@media screen and (max-width: 1700px) {


  /*
  #####################################################
  #                                                   #
  #           CAROUSSEL + MOMENTS FORTS               #
  #                   RESPONSIVE                      #
  #                                                   #
  #####################################################
  */
  span {
    display: inline-block;
    margin: 2em 13em;
  }

  span > div:nth-child(1){
    margin-bottom: 2em;
  }

  span > div:nth-child(2){
    margin-left: 0;
  }

}

/*
#####################################################
#                                                   #
#                       Footer                      #
#                                                   #
#####################################################
*/
footer {
  background-color: #304AAB;
  padding: 20px;
  display: flex;

}
footer img{
  display: inline-block;

}
footer article {
  background-color: #e6e1d3;
  margin: 0 20px;
  width: 50%;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  

}
footer article h1{
  color: #03196c;
  align-items: left;

}
footer article p:nth-last-child(1) em{
  color: #304AAB;
  text-align: right;
} 
footer article p:nth-last-child(1) em:nth-last-child(1) {
  text-align: right;
  color: #304AAB;
  font-size: 10px;
  
}

footer li a {
  color: #03196c;
  text-decoration: none;
}
footer li a:hover {
  color: #304AAB;
}
footer li{
  list-style-type: none;
}
footer li:before{
  content:"• ";
}
footer img{
  margin : 0 5px;
}
footer section {
  display: flex;
  margin-left :100px;
 
}
footer section article:nth-child(1){
  background-color: #d5c46c;
  color :#d5c46c;
  width: 10px;
  height: 20px;
  margin : 0 20px;
}
footer section article:nth-of-type(2), footer section article:nth-of-type(3){
  background-color: #d5c46c;
  color :#03196c;
  width: 10em;
  height: 20px;
  margin : 0 20px;
}