:root{
  --color-bleu-pm : #03196c;
}
/*
#####################################################
#                                                   #
#                      Polices                      #
#                                                   #
#####################################################
*/
    @font-face {
      font-family: 'Poppins';
      src: url('fonts/Poppins-Bold.woff2') format('woff2'),
          url('fonts/Poppins-Bold.woff') format('woff');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: 'Poppins';
      src: url('fonts/Poppins-Light.woff2') format('woff2'),
          url('fonts/Poppins-Light.woff') format('woff');
      font-weight: 300;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: 'Poppins';
      src: url('fonts/Poppins-Italic.woff2') format('woff2'),
          url('fonts/Poppins-Italic.woff') format('woff');
      font-weight: normal;
      font-style: italic;
      font-display: swap;
    }
    @font-face {
      font-family: 'Poppins';
      src: url('fonts/Poppins-Medium.woff2') format('woff2'),
          url('fonts/Poppins-Medium.woff') format('woff');
      font-weight: 500;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: 'Poppins';
      src: url('fonts/Poppins-Regular.woff2') format('woff2'),
          url('fonts/Poppins-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: 'Poppins';
      src: url('fonts/Poppins-Thin.woff2') format('woff2'),
          url('fonts/Poppins-Thin.woff') format('woff');
      font-weight: 100;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: 'Poppins';
      src: url('fonts/Poppins-SemiBold.woff2') format('woff2'),
          url('Poppins-SemiBold.woff') format('woff');
      font-weight: 600;
      font-style: normal;
      font-display: swap;
    }

body {
  font-family: "Poppins", "Ubuntu", sans-serif;
  background-color: #e6e1d3;
  color:#03196c;
}
/*
#####################################################
#                                                   #
#                       Header                      #
#                                                   #
#####################################################
*/
header {
  background-color: #03196c;
  height: 150px;
  padding: 40px 0 40px 230px;
  display: flex;
  align-items: center;
  
}
header img {
  display: inline-block;
  margin: 0px 25px 0px 75px;
}
header nav {
  width: 980px;
  height: 70px;
  margin: 0;
  background-size: 980px 90px;
  background-image: url(../images/Image_general/bannière1jpg.jpg);
}
header nav a {
  width: 180px;
  height: 44px;
  border-radius: 20px;
  margin: 10px;
  color: #03196c;
  background-color: #d5c46c;
  font-size: 32px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}


/*
#####################################################
#                                                   #
#                       Body                        #
#                                                   #
#####################################################
*/
main section {
  display: flex;
}
main article {
  background-color: #d5c46c;
  border: solid 1px #03196c;
  margin: 20px;
  border-radius: 20px;
}
h2 {
  font-family: "Ubuntu";
  color: #03196c;
  /*bordure GAUCHE des titres*/
  border-left: #304aab solid 3px;
  border-left-width: 5px;
  width: 5em;
  height: auto;

  /*bordure BAS des titres*/
  border-bottom: #304aab solid 3px;
  border-bottom-width: 5px;

  /*bordure DROITE et HAUT des titres*/
  border-top: 0;
  border-right: 0;
}
section article:nth-of-type(1), section:nth-of-type(2) article:nth-of-type(2) {
  width: 70%;
  padding : 1em;
}
section article:nth-of-type(2), section:nth-of-type(2) article:nth-of-type(1) {
  width: 30%;
  padding : 1em;
}
main > section:nth-child(2) > article:nth-child(1) img{
  width: 90%;
 @media screen and (max-width: 768px) {
  width: 100%;
  height: auto;
  display: none;
  
 }
 }
/*
#####################################################
#                                                   #
#                     Champions                     #
#                                                   #
#####################################################
*/
/* Image de puce URSS */
main > section:nth-child(1) > article:nth-child(2) ul li ol > li:nth-child(1){
  list-style: url(../images/images_epreuve/urss.png);
}
/* Image de puce BRESIL */
main > section:nth-child(1) > article:nth-child(2) ul li ol > li:nth-child(3){
  list-style: url(../images/images_epreuve/br2.png);
}
/* Image de puce VICTOIRE des deux nation ci-dessus */
main > section:nth-child(1) > article:nth-child(2) ul li ol ul li{
  list-style: url(../images/images_epreuve/tropheeNoir.png);
}
/*------------Image de puce différents drapeaux------------*/
                          /* France 2024 & 2021 */
main > section:nth-child(1) > article:nth-child(2) ul li:nth-child(2) ul > li:nth-child(1),
main > section:nth-child(1) > article:nth-child(2) ul li:nth-child(2) ul > li:nth-child(2){
  list-style: url(../images/images_epreuve/fr.png);
}
                          /* Brésil 2016 */
main > section:nth-child(1) > article:nth-child(2) ul li:nth-child(2) ul > li:nth-child(3){
  list-style: url(../images/images_epreuve/br2.png);
                            /* Russie 2012 */
}
main > section:nth-child(1) > article:nth-child(2) ul li:nth-child(2) ul > li:nth-child(4){
  list-style: url(../images/images_epreuve/ru.png);
}
                          /* État-Unis 2008 */
main > section:nth-child(1) > article:nth-child(2) ul li:nth-child(2) ul > li:nth-child(5){
  list-style: url(../images/images_epreuve/us.png);
}

/*
#####################################################
#                                                   #
#           CAROUSSEL + MOMENTS FORTS               #
#                                                   #
#####################################################
*/
main > article
{
  background-color: #d5c46c;
  border: solid 10px #03196c;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3em 1em;
}
main > article:nth-child(1){
  align-items: flex-start;
}

  
main > article div{
  margin-left: 2em;
}


/*
#####################################################
#                                                   #
#                CAROUSSEL CSS                      #
#                                                   #
#####################################################
*/

main > article > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em;
}

main > article > div > figure > img{
  margin: 0;
}

main > article > div > figure{
  margin: 2em;
  margin-bottom: 5em;
  text-align: center;
  
  
}

figcaption{
  background-color: #e6e1d3;
  margin: 0 2em;
}
/*
#####################################################
#                                                   #
#                       Planning                    #
#                                                   #
#####################################################
*/
main > section:nth-child(2) > article:nth-child(2){
  position: relative;
}
/*-----------------Bouton "Phase de jeu"-------------------*/

main > section:nth-child(2) > article:nth-child(2) > div:nth-child(1) h2{
  margin: 0;
}

main > section:nth-child(2) > article:nth-child(2) > div:nth-child(1) label{
  
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 1em 1em;
  border : solid 4px rgba(0, 0, 0, 0.285);
  background-color: var(--color-bleu-pm);
  color : white;
}
main > section:nth-child(2) > article:nth-child(2) > div:nth-child(1) input{
  appearance: none;
  position: absolute;
  top: 20px;
  right: 20px;
  
}
/*-----------------Liste des phases de jeu-------------------*/
main > section:nth-child(2) > article:nth-child(2) > div:nth-child(1) > nav > ul{
  list-style-type: none;

}
.planning >ul > li > a{
  color : white;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  font-variant: small-caps;

}
.planning{
  display: none;
  position: absolute;
  top: 5em;
  right: 20px;
  padding: 0;
  border : solid 4px rgba(0, 0, 0, 0.285);
  background-color: var(--color-bleu-pm);
  color : white;
  
}
.menu-plan:checked ~ .planning{ 
  display: block;
}
/*-----------------Différents match-------------------*/
main > section:nth-child(2) > article:nth-child(2) > div:nth-child(2){
  width: 100%;
  height: 100%;
  max-height: 25em;
}
main > section:nth-child(2) > article:nth-child(2) div:nth-child(2) div{
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  margin-top: 2em;
}

main > section:nth-child(2) > article:nth-child(2) div h3{
  text-align: center;
}

main > section:nth-child(2) > article:nth-child(2) div div img{
  width : 100px;
  height : 75px;
}
main > section:nth-child(2) > article:nth-child(2) div div{
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
main > section:nth-child(2) > article:nth-child(2) div div table{
    text-align: center;
    margin: auto;
}
main > section:nth-child(2) > article:nth-child(2) div div table td{
  width: 8em;
  height: 2em;
 
}
/*-----------------Finale & Demi-finale-------------------*/

#finale:target{
  visibility: visible;
  display: flex;
}
#finale:target ,#demi-finale:target{
  visibility: visible;
  display: flex;
  flex-direction: column;
  
}
#finale, #demi-finale{
  visibility: hidden;
  display: none;
}
/*-----------------Quart & Huitième-------------------*/
#quart-finale1, #quart-finale2,
#huitieme-finale1,#huitieme-finale2,
#huitieme-finale3,#huitieme-finale4{
  display: none;
  visibility: hidden;
}
#quart-finale1:target, #quart-finale2:target,
#huitieme-finale1:target, #huitieme-finale2:target,
#huitieme-finale3:target, #huitieme-finale4:target{
  visibility: visible;
  display: flex;
  flex-direction: column;
}

/*-----------------Fleche mouvements-------------------*/
.fleche{
  border:solid #03196c;
  padding: 10px;
  border-width: 0 5px 5px 0;
}

.suivant, .precedent{
  position: absolute;
  top: 200px;
}

.precedent{
  left: 45px;
  transform: rotate(135deg);
}

.suivant{
  right: 45px;
  transform: rotate(-45deg);
}
/*
#####################################################
#                                                   #
#                       Footer                      #
#                                                   #
#####################################################
*/
footer {
  background-color: #304AAB;
  padding: 20px;
  display: flex;

}
footer img{
  display: inline-block;

}
footer article {
  background-color: #e6e1d3;
  margin: 0 20px;
  width: 50%;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  

}
footer article h1{
  color: #03196c;
  align-items: left;

}
footer article p:nth-last-child(1) em{
  color: #304AAB;
  text-align: right;
} 
footer article p:nth-last-child(1) em:nth-last-child(1) {
  text-align: right;
  color: #304AAB;
  font-size: 10px;
  
}

footer li a {
  color: #03196c;
  text-decoration: none;
}
footer li a:hover {
  color: #304AAB;
}
footer li{
  list-style-type: none;
}
footer li:before{
  content:"• ";
}
footer img{
  margin : 0 5px;
}
footer section {
  display: flex;
  margin-left :100px;
 
}
footer section article:nth-child(1){
  background-color: #d5c46c;
  color :#d5c46c;
  width: 10px;
  height: 20px;
  margin : 0 20px;
}
footer section article:nth-of-type(2), footer section article:nth-of-type(3){
  background-color: #d5c46c;
  color :#03196c;
  width: 10em;
  height: 20px;
  margin : 0 20px;
}